site:
  title: ARM Hangman
  url: https://docs.armHangman.com
  start_page: arm-hangman::index.adoc
content:
  sources:
  - url: https://github.com/bailee1531/ARMHangman.git
    branches: HEAD
    start_path: docs
ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files:
  - path: ui.yml
    contents: |
      static_files:
      - .nojekyll
  - path: .nojekyll